html, body{
    height: 100000px; /*Nanti balikin jadi 100%. ini buat ngetes scrolling doang*/
    background-color: #E2DFD0;
    font-family: Reload-Medium;
}

body{
    margin: 0px;
    padding: 0px;
}

h1, h2, h3{
    margin: 0;
    padding: 0;
}

p, ol, ul{
    margin-top: 0;
}

p{
    line-height: 180%;
}

ol, ul{
    padding: 0;
    list-style: none;
}

#orange-bg{
    background-color:#F97300;
}

@font-face {
    font-family: Reload-Medium;
    src: url(reload-medium.otf);
}

.darken-img{
    filter: brightness(.7);
}

/* Header */
    header{
        background-color: #ffffff00;
        overflow: hidden;
    }

/* navbar */
    #top-header{
        text-align: center;
        height: 100%;
    }

/* Logo */
    #logo{
        float: left;
        position: sticky;
        padding: 0em 1.5em;
        height: 60px;
        width: fit-content;
        z-index: 1;
        color: white;
    }
    #logo h1{
        text-shadow:1px 1px black;
        vertical-align: middle;
        text-align: center;
        line-height: 60px;
        font-size: 1.5vw;
    }

    .color2{
        color: red;
    }

/* Navigation menu */
    #nav-menu{
        position: sticky;
        float: right;
        width: fit-content;
        height: fit-content;
        margin: none;
        z-index: 1;
    }

    #nav-menu ul{
        display: inline-block;
        padding: 0;
        margin: 0;
        display: flex;
    }

    #nav-menu li a, #nav-menu li span{
        display: inline-block;
        padding: 0em 1.5em;
        text-decoration: none;
        line-height: 60px;
        padding-bottom: 8px;
        font-weight: 800;
        font-size: 1.5vw;
    }

    #nav-menu li a{
        color: white;
        text-shadow: 2px 2px black;
    }


/* Main */
.main-body{
    height: 100%;
}
    /* Section 1 (Welcome) */
        #welcome{
            width: 100%;
            position: relative;
            top: -68px;
            text-align: center;
            box-shadow: 0 0 30px 3px;
        }
        
        #welcome-img{
            height: 100%;
            overflow: hidden;
        }

        #welcome-img img{
            width: 100%;
            display: block;
            filter: brightness(50%);
        }

        #welcome-txt{
            position: absolute;
            top: 20vw;
            left: 50%;
            margin-left: -12.5vw;
            transform: translate(-50% -50%);
        }

        #welcome-txt h1{
            font-size: 5vw;
            color: white;
            text-shadow: 1px 1px black;
        }

        #welcome-txt h1 span{
            color: red;
            text-shadow: 1px 1px black;
        }

    /* Section 2: Information */
        .overview-info{
            height: min-content;
            margin: 0px auto;
            width: 100%; 
            text-align: center;
        }
        
        .information-item{
            align-items: center;
            height: auto;
            padding: 2em 2em;
        }

        .information-item h1{
            font-size: 4vw;
        }

        .information-item h3{
            font-size: 1.5vw;
        }

        .overview-info .information-item span{
            color: red;
        }

    
    /* Section 2: Overview */
        .overview{
            height: min-content;
            margin: 0px auto;
            width: 80%; 
        }
        .overview-item{
            height: auto;
            background-color: #F97300;
            padding: 3vw 3vw;
            border-radius: 2px;
            overflow: auto;
            margin: 2.4vw;
            box-shadow: 0 0 10px 1px;
        }

        .declaration-text{
            font-size: 3vw;
            white-space: nowrap;
            line-height: 5vw;
        }

        .declaration-text span{
            color: red;
            text-shadow: 1px 0px 5px black;
        }
        
        .subtext{
                font-size: 1.5vw;
        }
        
        .overview-desc{
            height: fit-content;
            display: block;
            flex-direction: row;
            margin: 0;
        }
    
        .overview-text-box{
            display: inline-block;
            width: min-content;
            vertical-align: auto;
            height: fit-content;
        }

        .overview-img-box{
            width: fit-content;
            height: fit-content;
            margin: none;
            float: right;
            display: block;
        }

        .overview-img-box img{
            border-radius: 5px;
            width: 25vw;
            height: 20%;
        }

        .overview-dl{
            background-color: #F97300;
            width: 100%;
            text-align: center;
            margin: 5em 0em;
        }

        .download-bar{
            padding: 1em;
        }
        
    /* Footer */
    .bottom-footer{
        padding: 20px;
        text-align: center;
        background-color: white;
    }

/* Gallery */

#gallery-body{
    
}